/*for mobile and desktop*/
#Sound_Btn img, 
#Sound_Btn_Mobile img,
#AddBubbles_Btn img{
    width: 30px;
}

#Light_Switch img, 
#Light_Switch_Mobile img, 
#AddBubbles_Btn_Mobile img{
    width: 30px;
}

#Sound_Btn span, 
#Sound_Btn_Mobile span,
#AddBubbles_Btn span,
#Light_Switch span, 
#Light_Switch_Mobile span, 
#AddBubbles_Btn_Mobile span{
    display: none;
}

.BodyCustomBG{
    background: red, url('img/CustomBackground/fon-podvodnogo-mira.jpg') !important;
    background-size: cover !important;
    background-attachment: fixed;
    /* backdrop-filter: ;
    -moz-background-clip: ; */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
}


.TransparentTextMask_H1 { /*class for image elements*/
    -webkit-mask-image: url('img/CustomBackground/AquaShapeHeaderText_noBackground.png');
    mask-image: url('img/CustomBackground/AquaShapeHeaderText_noBackground.png');
    mask-repeat: no-repeat;
    border: 2px solid red;
    height: 75px !important;
  }

  .greenShadowBorder{
    box-shadow: 0 0px 4px 6px rgba(205, 255, 113, 0.4), 0 0px 12px 14px rgba(255, 255, 255, 0.4) !important;
    border: 1px solid white !important;
  }