.LightOn{
    /* box-shadow: 0 0px 24px 32px rgba(166, 255, 0, 0.76), 0 0px 60px 65px rgba(255, 255, 255, 0.4); */
    box-shadow: 0 0px 240px 320px rgba(166, 255, 0, 0.76), 0 0px 600px 750px rgba(255, 255, 255, 0.4);
}

.itemsAnimation_V1{
    /*type 1    ============    */
    /* animation: MoveImageItems 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    position: absolute;
    transition-duration: 5s; */

    /*type 2    ============    */
    animation-name: MoveImageItems_V1;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    /* animation-direction: alternate; */
    position: absolute;
    /* border-color: cyan !important; */

}

@keyframes MoveImageItems_V1{
    /*for type 1   ============    */
    /* from{left: 50px;
        top: 50px;
    }
    to{right: 400px;
        bottom: 400px;
    } */

    /*for type 2    ============    */
     0%{left: 50px; top: 50px; transform: scaleX(1);}
     5%{left: 100px; top: 400px; transform: scaleX(1);}  
    10%{left: 200px; top: 200px; transform: scaleX(1);}  
    15%{left: 300px; top: 50px; transform: scaleX(1);}  
    25%{left: 400px; top: 400px; transform: scaleX(1);}
    50%{left: 450px; top: 50px;   transform: scaleX(1);}  
    51%{left: 450px; top: 50px;   transform: scaleX(-1);}  
    75%{left: 300px; top: 400px;   transform: scaleX(-1);} 
    85%{left: 200px; top: 200px;   transform: scaleX(-1);} 
    95%{left: 100px; top: 400px;   transform: scaleX(-1);} 
    99%{left: 50px; top: 50px;   transform: scaleX(-1);}  
    100%{left: 50px; top: 50px;   transform: scaleX(1);}  
    /* 100%{right: 400px;
        bottom: 400px;} */
}


.itemsAnimation_V2{
    animation-name: MoveImageItems_V2;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; /* ===================== */
    /* animation-direction: alternate; */
    position: absolute;
    /* border-color: chartreuse !important; */

}
@keyframes MoveImageItems_V2{
    0%{left:   500px;  top:   425px ; transform: scaleX(-1);}  /*mod */
    30%{left:   400px;  top:  100px; transform: scaleX(-1);} 

    40%{left:  400px;  top:  300px; transform: scaleX(-1); } 
    45%{left:  50px;   top:  450px; transform: scaleX(-1);}  
    46%{left:  50px;   top:  450px; transform: scaleX(1);}  
    60%{left:  400px;  top:  400px; transform: scaleX(1);}
    61%{left:  400px;  top:  400px; transform: scaleX(-1);}

    75%{left:  200px;  top:  200px; transform: scaleX(-1);}  
    76%{left:  200px;  top:  200px; transform: scaleX(1);}  
    95%{left:  400px;  top:  100px; transform: scaleX(1);}  

    100%{left: 500px;  top:   425px; transform: scaleX(1);}
}


.itemsAnimation_V3{
    animation-name: MoveImageItems_V3;
    animation-duration: 150s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; /* ===================== */
    position: absolute;
    /* border-style: dashed !important; */
    /* border-color: orange !important; */
}
@keyframes MoveImageItems_V3{
    0%{left:   350px;  top:   350px ; transform: scaleX(-1);}   /*mod */
    /* 1%{left:   350px;  top:   350px ; transform: scaleX(1);}  */
    5%{left:  50px;  top:  50px; transform: scaleX(-1);} 
    6%{left:  50px;  top:  50px; transform: scaleX(1);} 
    10%{left:  200px;  top:  200px; transform: scaleX(1);} 
    15%{left:  400px;  top:  300px; transform: scaleX(1);} 
    /* 25%{left:  50px;   top:  450px;}   */
    50%{left:  400px;  top:  400px; transform: scaleX(1);}
    51%{left:  400px;  top:  400px; transform: scaleX(-1);}
    75%{left:  50px;   top:  300px; transform: scaleX(-1);}  
    76%{left:  50px;   top:  300px; transform: scaleX(1);}  
    85%{left:  200px;  top:  200px; transform: scaleX(1);}  
    94%{left:  400px;  top:  100px; transform: scaleX(1);}  
    95%{left:  400px;  top:  100px; transform: scaleX(-1);}  
    100%{left: 350px;  top:  350px; transform: scaleX(-1);}
}

.itemsAnimation_V4{
    animation-name: MoveImageItems_V4;
    animation-duration: 200s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; /* ===================== */
    /* animation-direction: alternate; */
    position: absolute;
    /* border-style: dashed !important; */
    /* border-color: purple !important; */
}
@keyframes MoveImageItems_V4{
    0%{left:   350px;  top:  350px ; transform: scaleX(-1);}   /*mod */
    15%{left:    50px;  top:  50px; transform: scaleX(-1);} 
    16%{left:    50px;  top:  50px; transform: scaleX(1);} 
    30%{left:  200px;  top:  200px; transform: scaleX(1);} 

    35%{left:  350px;   top:  400px; transform: scaleX(1);}  
    36%{left:  350px;   top:  400px; transform: scaleX(1);}  
    40%{left:  380px;  top:  250px; transform: scaleX(1);} 
    50%{left:  400px;  top:  100px; transform: scaleX(1);}
    51%{left:  400px;  top:  100px; transform: scaleX(-1);}
    60%{left:  50px;   top:  50px; transform: scaleX(-1);}  
    75%{left:  10px;  top:  50px; transform: scaleX(-1);} 
    76%{left:  10px;  top:   50px; transform: scaleX(1);} 
    85%{left:  150px;  top:  250px; transform: scaleX(1);}  
    95%{left:  250px;  top:  300px; transform: scaleX(1);}  
    100%{left: 350px;  top:   350px; transform: scaleX(1);}
}
.itemsAnimation_V5{
    animation-name: MoveImageItems_V5;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards; /* ===================== */
    position: absolute;
    /* border-style: dashed !important; */
    /* border-color: purple !important; */
}
@keyframes MoveImageItems_V5{
    0%{left:   425px;  top:   200px ; transform: scaleX(-1);}    /*mod */
    1%{left:   425px;  top:   200px ; transform: scaleX(-1);}  

    10%{left:  200px;  top:  350px; transform: scaleX(-1);} 
    11%{left:  200px;  top:  350px; transform: scaleX(1);} 

    35%{left:  400px;  top:  300px; transform: scaleX(1);} 

    50%{left:  400px;  top:  400px; transform: scaleX(1);}
    51%{left:  400px;  top:  400px; transform: scaleX(-1);}
    
    75%{left:  50px;   top:  300px; transform: scaleX(-1);}  
    76%{left:  50px;   top:  300px; transform: scaleX(1);}  

    85%{left:  380px;  top:  100px; transform: scaleX(1);}  

    99%{left: 400px;  top:   200px; transform: scaleX(1);}
    100%{left: 400px;  top:   200px; transform: scaleX(-1);}
}