:root{
    --SetX: range: "10px";
    --MainBG: url('img/waves.png');
}
body{
    /* background: url('img/waves.png') !important; */
    /* background-size: cover; */
    /* border-radius: 100px !important; */ 
}

.btnItmemImage:hover{
    cursor: pointer;
    background-color: cornflowerblue;
    border: 5px solid purple !important;
    outline-color: black !important;
}
.btnItmem:hover{
    background-color: cornflowerblue !important;
    border-color: purple !important;
    outline-color: black !important;
}

#BoxCoverBack, #BoxCoverMiddle, #BoxCoverFront, #WaterFloorContent_forCube {
    width: 75%;
    left: auto;
    right: auto;
}
.BoxCoverBackSphere, #WaterFloorContent_forSphere {
    /* height: 85% !important; */
    width: 50% !important;
    /* background-color: rgba(0, 255, 106, 0.856) !important;  */ /*check value*/
    /* border-radius: 50%; */
    left: 25% !important;
    right: auto !important; 
    top: 50px;
    scale: 0.8;
}
/* #WaterFloorContent_forSphere {
    width: 50% !important;
    position: absolute;
    left: 25% !important;
    top: 0;
    scale: 0.8;
} */

.BoxCoverBackDodecaedr, #WaterFloorContent_forDodecaedr {
    /* height: 85% !important; */
    width: 60% !important;
    max-height:90%;
    /* background-color: rgba(0, 255, 106, 0.856) !important;  */ /*check value*/
    /* border-radius: 50%; */
    left: 20% !important;
    right: auto !important; 
    top: 50px;
    /* scale: 0.8; */
}




@media screen and (min-width: 801px) {
    body{
        /* border: 2px solid green !important; */
    }
    #BoxBackConteiner{
        block-size: clamp(10em, 75vw, 15em);
        /* width: clamp(5em, 75vw, 15em)!important; */
        /* border: 2px solid purple !important; */
    }
}

