

@media screen and (min-width: 100px) and (max-width: 800px) {
    body{
        /* border: 2px solid green !important; */
    }

    #Items_Panel, #Buttons_Panel{
        display: none !important;
    }

    #BoxBackConteiner{
        position: absolute;
        left: 2% !important;
        right: 2% !important;
        margin: 0 !important;
        padding: 0 !important;

        width: clamp(90%, 100vw, 95%)!important;
        block-size: clamp(15em, 75vw, 20em)!important;
        /*border: 1px dashed green !important;  /* --------------------------------- */
        border: none !important;
    }
    #BoxCoverBack, #BoxCoverMiddle, #BoxCoverFront {
        position: absolute;
        left: -25% !important;
        right: auto !important;
        padding: 0 !important;
        width: clamp(150%, 100vw, 200%)!important;
        block-size: clamp(5em, 100vw, 30em)!important;
        /*border: 2px solid yellow !important; /* --------------------------------- */
    }
    .BoxCoverBackSphere{
        /* width: 25% !important; */
        height: 70% !important;
        background-color: rgba(116, 71, 172, 0.4) !important;
        border-radius: 50%;
        /* left: clamp(0, 100vw, 10%)!important;
        right: clamp(0, 100vw, 10%)!important; */
        scale: 0.8;
    }
    #Items_Panel_Mobile{
        /* bottom: 200px !important;  */
        width: 100% !important; 
        block-size: 200px;
    }
    #Buttons_Panel_Mobile{
        /* padding: 0 !important; */
        /* border: 2px dashed violet !important; */ /* --------------------------------- */
        /* left: 0 !important; */
        /* bottom: 0 !important;  */
        width: 100% !important; 
        /* justify-content: space-between !important; */
        /* block-size: 100px !important; */
    }
   .btnItmem{
        /* margin: 0 auto 0 0.5% !important; */
    }
    .btnItmemImage{
        /* display: none; */
    }
    #itemAdd_3, #clear_items{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    #AddSmItemBtn_Mobile{
        position: absolute;
        width: 80px !important;
        block-size: 80px !important;
        top: 3em !important;
        /* bottom: 210px !important; */
        /* bottom: 42em !important; */
        right: 15% !important;
        /* right: auto !important; */
    }
    #UnCollapse_MobilePanel_Btn, #Collapse_MobilePanel_Btn, #HomePage_Btn{
        position: absolute;
        /* width: 50px !important;
        block-size: 50px !important; */
        bottom: 220px !important;
        right: 15% !important;
    }
    #HomePage_Btn{
        left: 10% !important;
    }
    #UnCollapse_MobilePanel_Btn{
        right: 14% !important;
        bottom: 1% !important;
    }
    .btnItmem{
        width: 5em !important;
        height: 5em !important;
        font-size: small;
        margin: 0 auto 0 5% !important;

    }
    #itemAdd_3, #itemAdd_4, #itemAdd_5, #itemAdd_6{
        margin: 0 auto 0 5% !important;
        padding: 0 !important;
    }
    #clear_items{
        position: absolute;
        border-radius: 50%;
        width: 100px !important;
        block-size: 100px !important;
        bottom: 210px !important;
        left: 15% !important;
        right: auto !important;
        background-color: darkred;
    }

/*Moblie  CustomButtons */
#Sound_Btn_Modile, #Light_Switch_Modile{
    /* background-image: url('img/sound_on.png'); background-size: cover, cover; */
    padding: 0;
}

#Sound_Btn_Modile span, #Light_Switch_Mobile span{
    color: green;
    display: none !important;
}

}



@media (hover: hover) {
    /* ... */

}

@media (hover: none) {
    /* ... */

}



/* //// Animation mobile */
.Mobile_itemsAnimation_V1 img,
.Mobile_itemsAnimation_V2 img,
.Mobile_itemsAnimation_V3 img, 
.Mobile_itemsAnimation_V4 img, 
.Mobile_itemsAnimation_V5 img{
    width: 50px;
}



/*Animation TYPES*/
.Mobile_itemsAnimation_V1{
    /* border: 5px dotted rgb(60, 139, 23) !important; */
    animation-name: MoveImageItems_mobile_A1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: absolute;
}
.Mobile_itemsAnimation_V2 {
    /* border: 5px dotted rgb(253, 178, 178) !important; */
    animation-name: MoveImageItems_mobile_A2;
    animation-duration: 15s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    position: absolute;
}
.Mobile_itemsAnimation_V3 {
    /* border: 5px dotted rgb(177, 42, 42) !important; */
    animation-name: MoveImageItems_mobile_A3;
    animation-duration: 15s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    position: absolute;
}
.Mobile_itemsAnimation_V4 {
    border: 5px dotted rgb(44, 42, 177) !important;
    animation-name: MoveImageItems_mobile_A4;
    animation-duration: 15s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    position: absolute;
}
.Mobile_itemsAnimation_V5 {
    border: 5px dotted rgb(229, 255, 0) !important;
    animation-name: MoveImageItems_mobile_A5;
    animation-duration: 15s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    position: absolute;
}

@keyframes MoveImageItems_mobile_A1{  /*+*/
     0%{left: clamp(70px, 5vw, 75px); top: clamp(70px, 5vw, 75px); transform: scaleX(1);} 
    25%{left: clamp(100px, 5vw, 105px); top: clamp(100px, 5vw, 105px); transform: scaleX(1);}  
    75%{left: clamp(110px, 5vw, 200px); top: clamp(110px, 5vw, 200px); transform: scaleX(1);} 
    100%{left: clamp(205px, 5vw, 300px); top: clamp(205px, 5vw, 300px); transform: scaleX(1);}   
}
@keyframes MoveImageItems_mobile_A2{ /*+*/
     0%{left: clamp(70px, 5vw, 75px); top: clamp(70px, 5vw, 75px); transform: scaleX(1);}  
    14%{left: clamp(150px, 5vw, 250px); top: clamp(150px, 5vw, 250px); transform: scaleX(1);}  
    15%{left: clamp(150px, 5vw, 250px); top: clamp(150px, 5vw, 250px); transform: scaleX(-1);}  
    25%{left: clamp(110px, 5vw, 200px); top: clamp(110px, 5vw, 200px); transform: scaleX(-1);}   
    75%{left: clamp(100px, 5vw, 105px); top: clamp(100px, 5vw, 105px); transform: scaleX(-1);}   
    99%{left: clamp(70px, 5vw, 75px); top: clamp(70px, 5vw, 75px); transform: scaleX(-1);}    
    100%{left: clamp(70px, 5vw, 75px); top: clamp(70px, 5vw, 75px); transform: scaleX(1);}    
}
@keyframes MoveImageItems_mobile_A3{ /*+*/
     0%{left: clamp(150px, 5vw, 250px); top: clamp(150px, 5vw, 250px); transform: scaleX(1);}  
    14%{left: clamp(250px, 5vw, 275px); top: clamp(205px, 5vw, 215px); transform: scaleX(1);}  
    15%{left: clamp(250px, 5vw, 275px); top: clamp(205px, 5vw, 215px); transform: scaleX(-1);}  
    25%{left: clamp(110px, 5vw, 200px); top: clamp(110px, 5vw, 200px); transform: scaleX(-1);}   
    50%{left: clamp(100px, 5vw, 105px); top: clamp(200px, 5vw, 225px); transform: scaleX(-1);}   
    89%{left: clamp(70px, 5vw, 75px); top: clamp(70px, 5vw, 75px); transform: scaleX(-1);}    
    90%{left: clamp(70px, 5vw, 75px); top: clamp(70px, 5vw, 75px); transform: scaleX(1);}    
    100%{left: clamp(150px, 5vw, 250px); top: clamp(150px, 5vw, 250px); transform: scaleX(1);}    
}
@keyframes MoveImageItems_mobile_A4{ /*+*/
     0%{left: clamp(50px, 5vw, 55px); top: clamp(200px, 5vw, 255px); transform: scaleX(1);}  
    14%{left: clamp(250px, 5vw, 275px); top: clamp(205px, 5vw, 215px); transform: scaleX(1);}  
    15%{left: clamp(250px, 5vw, 275px); top: clamp(205px, 5vw, 215px); transform: scaleX(-1);}  
    25%{left: clamp(110px, 5vw, 200px); top: clamp(110px, 5vw, 200px); transform: scaleX(-1);}   
    50%{left: clamp(100px, 5vw, 105px); top: clamp(200px, 5vw, 225px); transform: scaleX(-1);}   
    89%{left: clamp(70px, 5vw, 75px); top: clamp(70px, 5vw, 75px); transform: scaleX(-1);}    
    90%{left: clamp(70px, 5vw, 75px); top: clamp(70px, 5vw, 75px); transform: scaleX(1);}    
    100%{left: clamp(50px, 5vw, 55px); top: clamp(200px, 5vw, 255px); transform: scaleX(1);}    
}
@keyframes MoveImageItems_mobile_A5{ /*+*/
     0%{left: clamp(150px, 5vw, 155px); top: clamp(10px, 5vw, 15px); transform: scaleX(1);}  
    14%{left: clamp(250px, 5vw, 275px); top: clamp(205px, 5vw, 215px); transform: scaleX(1);}  
    15%{left: clamp(250px, 5vw, 275px); top: clamp(205px, 5vw, 215px); transform: scaleX(-1);}  
    25%{left: clamp(110px, 5vw, 200px); top: clamp(110px, 5vw, 200px); transform: scaleX(-1);}   
    50%{left: clamp(100px, 5vw, 105px); top: clamp(200px, 5vw, 225px); transform: scaleX(-1);}   
    89%{left: clamp(70px, 5vw, 75px); top: clamp(70px, 5vw, 75px); transform: scaleX(-1);}    
    90%{left: clamp(70px, 5vw, 75px); top: clamp(70px, 5vw, 75px); transform: scaleX(1);}    
    100%{left: clamp(150px, 5vw, 155px); top: clamp(10px, 5vw, 15px); transform: scaleX(1);}    
}

