:root{
    --SetX: range: "10px";
    --MainBG: url('img/waves.png');
}
body{
    /* background: url('img/waves.png') !important; */
    /* background-size: cover; */
    /* border-radius: 100px !important; */ 
}

.btnItmemImage:hover{
    cursor: pointer;
    background-color: cornflowerblue;
    border: 5px solid purple !important;
    outline-color: black !important;
}
.btnItmem:hover{
    background-color: cornflowerblue !important;
    border-color: purple !important;
    outline-color: black !important;
}

#BoxCoverBack, #BoxCoverMiddle, #BoxCoverFront {
    width: 75%;
    left: auto;
    right: auto;
}
.BoxCoverBackSphere{
    height: 85% !important;
    background-color: rgba(116, 71, 172, 0.4) !important;
    border-radius: 50%;
    /* scale: 0.8; */
}

@media screen and (min-width: 801px) {
    body{
        /* border: 2px solid green !important; */
    }
    #BoxBackConteiner{
        block-size: clamp(10em, 75vw, 15em);
        /* width: clamp(5em, 75vw, 15em)!important; */
        /* border: 2px solid purple !important; */
    }
}

