:root{
    --SetX: range: "10px";
}
.LightOn{
    /* box-shadow: 0 0px 24px 32px rgba(166, 255, 0, 0.76), 0 0px 60px 65px rgba(255, 255, 255, 0.4); */
    box-shadow: 0 0px 240px 320px rgba(166, 255, 0, 0.76), 0 0px 600px 750px rgba(255, 255, 255, 0.4);
}

.itemsAnimation_V1{
    /*type 1    ============    */
    /* animation: MoveImageItems 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    position: absolute;
    transition-duration: 5s; */

    /*type 2    ============    */
    animation-name: MoveImageItems_V1;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    position: absolute;
}

@keyframes MoveImageItems_V1{
    /*for type 1   ============    */
    /* from{left: 50px;
        top: 50px;
    }
    to{right: 400px;
        bottom: 400px;
    } */

    /*for type 2    ============    */
     0%{left: 50px; top: 50px;}
     5%{left: 100px; top: 400px;}  
    10%{left: 200px; top: 200px;}  
    15%{left: 300px; top: 50px;}  
    25%{left: 400px; top: 400px;}
    50%{left: 450px; top: 50px;}  
    75%{left: 300px; top: 400px;} 
    85%{left: 200px; top: 200px;} 
    95%{left: 100px; top: 400px;} 
    100%{left: 50px; top: 50px;}  
    /* 100%{right: 400px;
        bottom: 400px;} */
}
.itemsAnimation_V2{
    /*type 1    ============    */
    /* animation: MoveImageItems 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    position: absolute;
    transition-duration: 5s; */

    /*type 2    ============    */
    animation-name: MoveImageItems_V2;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; /* ===================== */
    animation-direction: reverse;
    position: absolute;
    border-color: chartreuse !important;

}
@keyframes MoveImageItems_V2{
    /*for type 1   ============    */
    /* from{left: 50px;
        top: 50px;
    }
    to{right: 400px;
        bottom: 400px;
    } */

    /*for type 2    ============    */
    0%{left:   50px;  top:   50px ;}  
    5%{left:   400px;  top:  100px;} 
    10%{left:  200px;  top:  200px;} 
    15%{left:  400px;  top:  300px;} 
    25%{left:  50px;   top:  450px;}  
    50%{left:  400px;  top:  400px;}
    75%{left:  50px;   top:  300px;}  
    85%{left:  200px;  top:  200px;}  
    95%{left:  400px;  top:  100px;}  
    100%{left: 50px;  top:   50px}

    /* 100%{right: 400px;
        bottom: 400px;} */
}